@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Henry King</h1>
    <h2 class="display-4">04-13-2022</h2>
    @* table markup *@
    <div class="wrapper">
        <table class="margin">
            <tr id="circleRow">
                <td class="circle" id="td1"><div>Red</div></td>
                <td class="circle" id="td2"><div>Green</div></td>
                <td class="circle" id="td3"><div>Blue</div></td>
                <td class="circle" id="td4"><div>Orange</div></td>
                <td class="circle" id="td5"><div>Yellow</div></td>
            </tr>
        </table>

        <table class="margin">
            <tr id="squareRow"></tr>
        </table>
    </div>

    <p>
        Made with: HTML, JavaScript - jquery v3.3.1 & CSS - Bootstrap v3.4.1
    </p>
</div>

<script>
    // adding click event listener to attach to scripted and dynamically created elements (bubbling)
    document.addEventListener('click', function (e) {
        if (e.target && e.target.offsetParent.className == 'circle') {
            // switch classes
            e.target.offsetParent.classList.remove('circle');
            e.target.offsetParent.classList.add('square'); 
            // append icon to other row
            $('#squareRow').append(e.target.offsetParent.outerHTML);
            // remove icon from current row
            e.target.offsetParent.remove();
        } else if (e.target && e.target.className == 'square') {
            // switch classes
            e.target.classList.remove('square');
            e.target.classList.add('circle');
            // prepend to other row
            $('#circleRow').prepend(e.target.outerHTML);
            // remove from current row
            e.target.remove();
        }
    });
</script>

<style>
    @* styles for circle, square & margin classes *@
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin: 7px;
        display: inline-block;
    }

    .square {
        width: 200px;
        height: 200px;
        margin: 7px;
        display: inline-block;       
    }

    .margin {
        margin-top: 5%;
        margin-left: 20px;
    }

    @* assigning icons font and background colors *@
    #td1 {
        color: red;
        background-color: red;
    }

    #td2 {
        color: green;
        background-color: green;
    }

    #td3 {
        color: blue;
        background-color: blue;
    }

    #td4 {
        color: orange;
        background-color: orange;
    }

    #td5 {
        color: yellow;
        background-color: yellow;
    }

    @* setting opacity when hovering *@ 
    .wrapper:hover td {
        opacity: .5;
    }

    .wrapper td:hover {
        opacity: 1;
        cursor: pointer;
    }

    @* hiding font color text *@ 
    #circleRow #squareRow > td > div {
        visibility: hidden;
    }

    @* show font color text when hovering *@
    #circleRow > td:hover > div {
        padding-top: 100%;        
        visibility: visible;
    }

    #squareRow > td:hover > div {
        margin-top: -20px;
        visibility: visible;
    }

    @* font color, align and family for the page *@
    body {
        color: grey;
        text-align: center;
        font-family: Open Sans;
    }

    @* page background color for mobile vs desktop viewing *@
    @@media (max-width: 480px) {
        body {
            background-color: white;
        }
    }

    @@media (min-width: 481px) {
        body {
            background-color: black;
        }
    }
</style>

